@model IEnumerable<InvitaShare.ViewModels.EventUserDTO>

<p>
    <a asp-action="CreateUserGuest">Create New</a>
</p>
<h6 style="color: red;">@TempData["ViewMessage"]</h6>
<h3>@ViewData["EventName"] - Guest List</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                UserName or Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-userMail="@item.UserMail">Edit</a> |
                    <a asp-action="Details" asp-route-userMail="@item.UserMail">Details</a> |
                    <a asp-action="DeleteUserGuest" asp-route-userMail="@item.UserMail">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
