@model WeddingEvent

<div>
    <h4>@Model.EventName</h4>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.EventName)</th>
                <td>@Html.DisplayFor(model => model.EventName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.BrideName)</th>
                <td>@Html.DisplayFor(model => model.BrideName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.GroomName)</th>
                <td>@Html.DisplayFor(model => model.GroomName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.GodParent1)</th>
                <td>@Html.DisplayFor(model => model.GodParent1)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.GodParent2)</th>
                <td>@Html.DisplayFor(model => model.GodParent2)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.RestaurantName)</th>
                <td>@Html.DisplayFor(model => model.RestaurantName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.ChurchName)</th>
                <td>@Html.DisplayFor(model => model.ChurchName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.EventDate)</th>
                <td>@Html.DisplayFor(model => model.EventDate)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.CreatedOn)</th>
                <td>@Html.DisplayFor(model => model.CreatedOn)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="EditEvent" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
